node_modules
**/node_modules
**/.next
**/.data
.data
work
**/*.log
.git
.env
.env.local
**/.env*
!**/.env.example
**/work
**/instance
**/coverage
**/*.tsbuildinfo
**/*.sqlite*
**/*.db
**/*.key
**/*.pem
**/*.pfx
**/*.p12
**/auth.json
**/client.json
**/computer.json
.github
